* { 
   font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    overflow:hidden; 
}

#preloader {
    width:99%; 
    height:98%; 
    margin:0; padding:0;
    background:#fff
        url('../../dojo/extras/dojo/1.6/dojox/image/resources/images/loading.gif')
        no-repeat center center;
    position:absolute;
    z-index:999;
}